<div class="container wrapper">    
            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <!--                    <ul class="nav  nav-pills" role="tablist">
                                            <li class="active"><a style="color:  #66c666;"  id="generalinfo" href="#home" role="tab" data-toggle="tab">General Info</a></li>
                                            <li><a  style="color: #f7ae11;" href="#profile" id="questionanswer" role="tab" data-toggle="tab">Choose your answers</a></li>
                                        </ul>-->

                    <!-- Tab panes -->
                    <div class="tab-content" style="padding-top:5px;">
                        <div class="tab-pane active" id="home">
                            <span id='title-green'>General Information</span>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg" placeholder="Program name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control  input-lg" placeholder="Webiste URL">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control  input-lg" placeholder="Contact person">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg" placeholder="Phone number">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control  input-lg" placeholder="Email">
                                    </div>                        
                                    <div class="form-group">
                                        <textarea class="form-control" style="resize: none;width: 100%!important;height: 120px!important;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-8">                                                   
                                    <button id="getlisted-QA" style="float: right" class="btn btn-default btn-lg btn-block">Next <img src="img/rsz_next.png" alt=""/></button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile">
                            <div class="panel-group" id="accordion">
                                <p id='title-orange'>Choose your matching answers</p>
                                <div class="panel panel-default">
                                    <div class="panel-heading survey-box" target="collapseOne">

                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            What are you looking for ?
                                        </a>

                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body ">
                                            <div class="col-lg-12">
                                                
                                                    <div class="row" style="margin-bottom: 10px;">
                                                        <div class="col-xs-11">
                                                            <div class="row">
                                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                                    <label class="btn btn-lg btn-block label-choice btn-default" number="">
                                                                        <input type="checkbox" name="language" value='Français'>Community Initiatives
                                                                    </label> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <div class="row">
                                                                <button class="btn btn-lg btn-link btn-block answer-details-btn-inactive"><strong>?</strong></button>
                                                                <div class="answer-details-box pull-right" style="">
                                                                    Buttons in input groups are a bit different 
                                                                    and require one extra level of nesting. Instead of 
                                                                    .input-group-addon, you'll need to
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>                                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading survey-box"  target="collapseTwo">

                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            What category defines you ?
                                        </a>

                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <div class="col-lg-12">
                                                
                                                    <div class="row" style="margin-bottom: 10px;">
                                                        <div class="col-xs-11">
                                                            <div class="row">
                                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                                    <label class="btn btn-lg btn-block label-choice btn-default" number="">
                                                                        <input type="checkbox" name="language" value='Français'>Community Initiatives
                                                                    </label> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <div class="row">
                                                                <button class="btn btn-lg btn-link btn-block answer-details-btn-inactive"><strong>?</strong></button>
                                                                <div class="answer-details-box pull-right" style="">
                                                                    Buttons in input groups are a bit different 
                                                                    and require one extra level of nesting. Instead of 
                                                                    .input-group-addon, you'll need to
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>     
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading survey-box"   target="collapseThree">

                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            Are you interested in a program that focuses only on the following demographic ?
                                        </a>

                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="col-lg-12">
                                               
                                                    <div class="row" style="margin-bottom: 10px;">
                                                        <div class="col-xs-11">
                                                            <div class="row">
                                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                                    <label class="btn btn-lg btn-block label-choice btn-default" number="">
                                                                        <input type="checkbox" name="language" value='Français'>Community Initiatives
                                                                    </label> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <div class="row">
                                                                <button class="btn btn-lg btn-link btn-block answer-details-btn-inactive"><strong>?</strong></button>
                                                                <div class="answer-details-box pull-right" style="">
                                                                    Buttons in input groups are a bit different 
                                                                    and require one extra level of nesting. Instead of 
                                                                    .input-group-addon, you'll need to
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>     
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading survey-box"  target="collapseFour">

                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            What sector are you in ?
                                        </a>

                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="col-lg-12">
                                                
                                                    <div class="row" style="margin-bottom: 10px;">
                                                        <div class="col-xs-11">
                                                            <div class="row">
                                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                                    <label class="btn btn-lg btn-block label-choice btn-default" number="">
                                                                        <input type="checkbox" name="language" value='Français'>Community Initiatives
                                                                    </label> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <div class="row">
                                                                <button class="btn btn-lg btn-link btn-block answer-details-btn-inactive"><strong>?</strong></button>
                                                                <div class="answer-details-box pull-right" style="">
                                                                    Buttons in input groups are a bit different 
                                                                    and require one extra level of nesting. Instead of 
                                                                    .input-group-addon, you'll need to
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading survey-box" target="collapseFifth">

                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifth">
                                            What province are yoy in ?
                                        </a>

                                    </div>
                                    <div id="collapseFifth" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="col-lg-12">
                                                
                                                    <div class="row" style="margin-bottom: 10px;">
                                                        <div class="col-xs-11">
                                                            <div class="row">
                                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                                    <label class="btn btn-lg btn-block label-choice btn-default" number="">
                                                                        <input type="checkbox" name="language" value='Français'>Community Initiatives
                                                                    </label> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-1">
                                                            <div class="row">
                                                                <button class="btn btn-lg btn-link btn-block answer-details-btn-inactive"><strong>?</strong></button>
                                                                <div class="answer-details-box pull-right" style="">
                                                                    Buttons in input groups are a bit different 
                                                                    and require one extra level of nesting. Instead of 
                                                                    .input-group-addon, you'll need to
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>     
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">                                                   
                                    <button  style="margin-bottom: 10px;" id="getlisted-GI" style="float: left" class="btn btn-default btn-lg btn-block"><img src="img/rsz_prev.png" alt=""/>Previous</button>
                                </div>
                                <div class="col-md-4 col-md-offset-4">
                                    <button type="submit" class="btn btn-green btn-success btn-lg btn-block">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
