<%= render 'search' %>
<div class="container-fluid wrapper">
  <div class="row" style="padding-left: 30px;padding-right: 30px">
    <div id='results' class="col-md-10 col-md-offset-1 ">
      <%= render 'results' %>
    </div>
  </div>
  <br/>
</div>
