<!DOCTYPE html>
<html>
  <head>
    <title>CousinsWebsite</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body style="background-image:image_path('background.png');">
    <div class="navbar navbar-inverse navbar-fixed-top "  id="topBar" style="" role="navigation">
      <a href="#" style="" class="btn btn-success btn-green side-survey-btn-inactive" id="side-survey-btn">
        Survey
      </a>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" id="menu-icon" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="site-title" href="/">Cousin Website</a>
        <a class="navbar-brand" id="site-title-img" href="/"><img src="/assets/rsz_3home-img.png" alt=""/></a>        
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right ul-home-menu">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">All resources</a>
          <ul class="dropdown-menu">
            <li><a href="/search">Programs</a></li>
            <li><a href="#">Organizations</a></li>
            <li><a href="#">Fundings</a></li>
            <li><a href="#">...</a></li>
          </ul>
          </li>            
          <li><a href="/programs/new">Get listed</a></li>
        </ul>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
